/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

.img-slider {
    width: 100%;
    @media screen and (min-width: 60em) {
        min-height: 100vh;
    }
}

.content-bg {
    width: 100%;
    background: #fff;
}

// 3 Header
// ------------------------------------------------------------------------ //

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    z-index: 2;
}

.headroom--top {
    transition: all 0.5s ease;

    .logo-header {
        display: inline-block;
        background-image: url(../img/logo-sprites.png);
        height: 40px;
        width: 220px;
        margin-top: 10px;   
        background-position: 0 0px;
    }

    .nav-bar {
        display: none;
        float: right;
        width: 100%;
        padding: 0;
        background: #fff;
        text-align: right;
        list-style: none; 

        li {
            border-bottom: 1px solid $grey;
            padding: 5px 10px 5px 20px;
        }

        a {
            color: $black;
        }
    }

    .dropdown-menu {
        display: block;
        float: right;
        border: 2px solid transparent;
        padding: 5px;
        margin-top: 10px;
        background: transparent;
        font-size: 25px;   
        color: $black;
        
        @media screen and (min-width: 60em) {
            display: none;
        }
    }  

    @media screen and (min-width: 60em) {
        .nav-bar {
            display: block;
            float: right;
            width: auto;
            text-align: center;
            list-style: none;
            background: transparent;

            li {
                position: relative;
                display: inline-block;
                width: 95px;
                text-align: center;
                padding: $space 0 0;
                border-bottom: 1px solid transparent;
            }

            a {
                color: #fff;
                &:hover {
                    color: #2285ac;
                }
            }
        }  
    }   
}

.headroom--not-top {
    border-bottom: 2px solid $grey;
    background: #fff;
    transition: all .5s ease;

    .logo-header {
        display: inline-block;
        background-image: url(../img/logo-sprites.png);
        height: 40px;
        width: 220px; 
        margin-top: 10px; 
        background-position: 0 -40px;
    }

    .nav-bar {
        display: none;
        float: right;
        width: 100%;
        padding: 0;
        background: #fff;
        text-align: right;
        list-style: none;  

        li {
            border-bottom: 1px solid $grey;
            padding: 5px 10px 5px 20px;
        }

        a {
            color: $black;
        }
    }

    .dropdown-menu {
        display: block;
        float: right;
        border: 2px solid transparent;
        padding: 5px;
        margin-top: 10px;
        background: transparent;
        font-size: 25px;   
        color: $black;
        
        @media screen and (min-width: 60em) {
            display: none;
        }
    }

    @media screen and (min-width: 60em){
        .nav-bar {
            display: block;
            float: right;
             width: auto;
            text-align: center;
            list-style: none;

            li {
                position: relative;
                display: inline-block;
                width: 95px;
                text-align: center;
                padding: $space 0 0;
                border-bottom: 1px solid transparent;
            }

            a {
                color: $black;
                &:hover {
                    color: #2285ac;
                }
            }

            li:after {
                position: absolute;
                bottom: -50%;
                left: 0;
                content: '';
                width: 95px;
                height: 3px;
                background-color: #2285ac;
                content: '';
                display: none;
            }

            .current {
                a {
                    color: #2285ac;    
                }

                &:after {
                    content: '';
                    display: block;
                }
            }
        }
    } 
}


// 4 Page styles
// ------------------------------------------------------------------------ //

.text-wrapper-home {
    position: relative;
    background: $grey;
    padding: 10px;

    @media screen and (min-width: 60em) {
        position: absolute;
        bottom: 0;
        transform: translate(35%,-100%);
        color: #fff;
        background: none;
        width: 520px; 
    }
}

.top-tagline {
    display: block;
    margin-bottom: 15px;
    color: $yellow;

    span {
        color: #fff;
    }
}

.bot-tagline {
    @media screen and (min-width: 60em){
        display: block;
        color: #fff;
        margin-bottom: $space;
    }
}

.slider-anchor {
    border: 2px solid $black80;
    padding: 10px;

    @media screen and (min-width: 60em) {
        border: 2px solid $grey;
        color: #fff;

        &:hover {
            background: $yellow;
            color: $black;
        }
    }
}

.main-slider {
    
    .slick-dots {
        width: 100%;
        margin: 0,auto;
        padding: 0;
        text-align: center;
        list-style: none;

        li {
            margin: 0 10px;
            display: inline-block;
        }

        button {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid $yellow;
            background: transparent;
            font-size: 0;

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $yellow;
                display: none;
            }
        }

        @media screen and (min-width: 60em) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            margin: 0,$space,0;
            padding: 0;
            text-align: center;
            list-style: none;
            transform:translateY(-10%);

            li {
                margin: 10px;
                display: inline-block;
            }
        }
    }

    .slick-active {
        button {
            &:before {
                display: block;
            }
        }
    }

    .slick-arrow {
        position: absolute;
        display: none;
        opacity: 0;
    }
}

.bg-image {
    width: 100%;
    background-image: url(../img/section2.png);
    background-repeat: no-repeat;
    background-position: top left;

    @media screen and (min-width: 60em) {
        position: relative;
        min-height: 100vh;
        background-position: bottom right;
        background-size: cover;
    }
}

.text-wrapper-about-us {
    position: relative;
    width: 95%;

    h1 {
        position: relative;

        &:before {
            position: absolute;
            bottom: 0;
            content: '';
            width: 60px;
            height: 3px;
            background: $black90;
        }
    }
    
    @media screen and (min-width: 60em) {
        position: absolute;
        max-width: 500px;
        bottom: 0;
        transform:translateY(-50%);
    }
}


.text-wrapper-what-we-do {
    margin-bottom: $space;
    padding-top: 50px;
    text-align: center;

    h1 {
        position: relative;

        &:before {
            position: absolute;
            width: 60px;
            height: 3px;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,50%);
            content: '';
            background: $black90;
        }
    }

    li {
        list-style: none;
    }

    @media screen and (min-width: 60em) {
        width: 100%;
        text-align: center;
    }
}

.icon{
    background-image: url(../img/icon-sprites.png);
    height: 85px;   
    width: 145px;
    display: inline-block;
    margin: $space auto;
}    
   
.icon1 {
        background-position: 0 0px;
    }

.icon2 {
        background-position: 0 -85px;   
    }

.icon3 {
        background-position: 0 -170px;  
    }

.icon4 {
        background-position: 0 -340px;
    }

.text-wrapper-our-works {
    margin-bottom: $space;
    padding-top: 50px;
    text-align: center;

    h1{
        position: relative;

        &:before {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,50%);
            content: '';
            width: 60px;
            height: 3px;
            background: $black90;
        }
    }

    @media screen and (min-width: 60em) {
        width: 100%;
        text-align: center;
    }
}

.bzg--margin {
    margin-bottom: 15px;
}

.products-slider {
    margin-top: $space;
    margin-bottom: $space;

    .slick-dots {
        width: 100%;
        text-align: center;
        list-style: none;
        padding: 0;
        
        li {
            margin: 10px 5px;
            display: inline-block;
        }

        button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid transparent;
            background: #898989;
            content: '';
            font-size: 0;
        }

        @media screen and (min-width: 60em) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            list-style: none;
            
            li {
                margin: 10px 5px;
                display: inline-block;
            }

            button {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid transparent;
                background: #898989;
                content: '';
                font-size: 0;
            }
        }  
    }

    .slick-active { 
        button {
            border: 1px solid #1aa9e6;
            background: #1aa9e6;
        }
    }

    .slick-arrow {
        position: absolute;
        display: none;
        opacity: 0;
    }
}

.text-wrapper-our-team {
    margin-bottom: $space;
    padding-top: 50px;
    text-align: center;

    h1{
        position: relative;

        &:before {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,50%);
            content: '';
            width: 60px;
            height: 3px;
            background: $black90;
        }
    }

    @media screen and (min-width: 60em) {
        width: 100%;
        text-align: center;
    }   
}

.team-slider {
    width: 95%;
    max-width: 960px;
    top: 30%;
    margin: 0 auto;

    .profile-bio {
        display: none;
    }

    img {
        opacity: 0.4;
    }

    .slick-active {
        .profile-bio {
            display: block;
        }

        img {
            opacity: 1;
        }
    }

    .slick-prev {
        position: absolute;
        float: left;
        padding: 0;
        border: 0;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: transparent;
    }

    .slick-next {
        position: absolute;
        float:right;
        padding: 0;
        border: 0;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: transparent;  
    }
}

.profile--name {
    color: #1aa9e6;
}

.text-wrapper-articles {
    margin-bottom: $space;
    padding-top: 50px;
    text-align: center;

    h1{
        position: relative;

        &:before {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,50%);
            content: '';
            width: 60px;
            height: 3px;
            background: $black90;
        }
    }

    @media screen and (min-width: 60em) {
        width: 100%;
    } 
}

.article-section {
    position: relative;
}

.article-content {
    text-align: center;

    @media screen and (min-width: 60em) {
        text-align: left;
    }
}

.article-link {
    color: $black;
}

.article-description {
    height: 6.4em;
    overflow: hidden;
    margin-bottom: $space;
}

.article-date {
    bottom: 0;
    float: right;
    margin-bottom: $space;
}

.bzg--center {
    padding-bottom: $space;
}

.btn--article {
    display: block;
    margin: $space auto;

    @media screen and (min-width: 60em) {
        margin: $space auto;
        border: 2px solid $grey;
        background: transparent;

        a {
            color: $black90;
        }

        &:hover {
            background: $grey;
        }
    }   
}

// 5 Footer
// ------------------------------------------------------------------------ //
footer {
    width: 100%;
    background: #606060;
}

.text-wrapper-footer {
    padding: 50px 0 20px;
    text-align: center;
    color: #fff;
}

.social-media {
    margin-bottom: $space*2;

    li {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 20px;
        border-radius: 50%;
        background-color: #fff;
    }
}

.contact-form {
    max-width: 600px;
    margin: $space auto;

    .form-input {
        width: 100%;
        background: transparent;
        color: #fff;

        &:focus {
            border-color: #fff;
        }
    }

    .btn {
        float: right;

        &:hover{
            background:#fff;
        }
    }
}

.icon--pos {
    position: absolute;
    transform:translate(-50%,70%);
    color: $black;
}

.footer-tab {
    margin: 0 auto;
    padding: 0;

    a {
        color: #fff;
        &:hover {
            color: #21ABFF;
        }
    }
}

input::-webkit-input-placeholder {
   color: #FFFFFF;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #FFFFFF;  
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #FFFFFF;  
}

input:-ms-input-placeholder {  
   color: #FFFFFF;  
}

textarea::-webkit-input-placeholder {
   color: #FFFFFF;
}

textarea:-moz-placeholder { /* Firefox 18- */
   color: #FFFFFF;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #FFFFFF;  
}

textarea:-ms-input-placeholder {  
   color: #FFFFFF;  
}
