@charset "UTF-8";
/*! [PROJECT_NAME] | Suitmedia */
/*! normalize.css v3.0.3 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

address {
  font-style: normal;
}

table {
  width: 100%;
}

figure {
  margin: 0 0 1.6em 0;
}

label,
input,
button,
select,
textarea {
  font-family: sans-serif;
}

canvas {
  vertical-align: middle;
}

.browsehappy {
  background: #FFD17D;
  border-bottom: solid 1px #FFCC6F;
  color: #222;
  font-size: .8em;
  margin: 0 0 .2em;
  padding: .4em 0;
  text-align: center;
}

::-moz-selection {
  background: #b3d4fc;
  color: #222;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  color: #222;
  text-shadow: none;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list-nostyle {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-inline > li {
  display: inline-block;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.clearfix:after, .table--responsive:after,
.cf:after {
  display: table;
  clear: both;
  content: '';
}

.hidden {
  display: none !important;
}

.visuallyhidden,
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

h1,
.h1 {
  font-size: 2.36859em;
  line-height: 1.01326em;
  margin: 0 0 0.67551em 0;
}

h2,
.h2 {
  font-size: 1.77689em;
  line-height: 1.35068em;
  margin: 0 0 0.90045em 0;
}

h3,
.h3 {
  font-size: 1.333em;
  line-height: 1.2003em;
  margin: 0 0 1.2003em 0;
}

h4,
.h4 {
  font-size: 1em;
  line-height: 1.6em;
  margin: 0 0 1.6em 0;
}

h5,
.h5 {
  font-size: 0.75019em;
  line-height: 2.1328em;
  margin: 0 0 2.1328em 0;
}

h6,
.h6 {
  font-size: 0.56278em;
  line-height: 2.84302em;
  margin: 0 0 2.84302em 0;
}

p,
ul,
ol,
hr,
table {
  font-size: 1em;
  line-height: 1.6em;
  margin: 0 0 1.6em 0;
}

/*--------------------------------*
    Responsive Table
    structure:
 
    table
    -thead
    --tr
    ---th
    -tbody
    --tr
    ---td

    Available modifier:
    * table--responsive
    * table--zebra
    * table--compact

\*--------------------------------*/
/*table*/
.table {
  text-align: left;
  background: white;
}

.table thead {
  background: #eeeeee;
}

.table thead tr {
  border-top: solid 1px #c6c6c6;
}

.table tr {
  border-bottom: solid 1px #c6c6c6;
}

.table th,
.table td {
  padding: 0.4em;
  border-right: solid 1px #c6c6c6;
}

.table th:first-child,
.table td:first-child {
  border-left: solid 1px #c6c6c6;
}

.table--responsive {
  position: relative;
  display: block;
}

@media screen and (min-width: 48em) {
  .table--responsive {
    display: table;
  }
}

.table--responsive thead {
  display: block;
  float: left;
  border-left: solid 1px #c6c6c6;
}

@media screen and (min-width: 48em) {
  .table--responsive thead {
    float: none;
    display: table-header-group;
    border-left: none;
  }
}

.table--responsive thead tr {
  display: block;
}

@media screen and (min-width: 48em) {
  .table--responsive thead tr {
    display: table-row;
  }
}

.table--responsive tbody {
  position: relative;
  display: block;
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
}

@media screen and (min-width: 48em) {
  .table--responsive tbody {
    display: table-row-group;
    white-space: normal;
  }
}

.table--responsive tbody tr {
  display: inline-block;
  border-top: solid 1px #c6c6c6;
  margin-left: -4px;
}

@media screen and (min-width: 48em) {
  .table--responsive tbody tr {
    display: table-row;
    border-top: none;
  }
}

.table--responsive th,
.table--responsive td {
  display: block;
}

.table--responsive th:first-child,
.table--responsive td:first-child {
  border-left: none;
}

@media screen and (min-width: 48em) {
  .table--responsive th:first-child,
  .table--responsive td:first-child {
    border-left: solid 1px #c6c6c6;
  }
}

@media screen and (min-width: 48em) {
  .table--responsive th,
  .table--responsive td {
    display: table-cell;
  }
}

.table--responsive th + th,
.table--responsive td + td {
  border-top: solid 1px #c6c6c6;
}

@media screen and (min-width: 48em) {
  .table--responsive th + th,
  .table--responsive td + td {
    border-top: none;
  }
}

.table--zebra tbody tr:nth-child(2n) {
  background: #f6f6f6;
}

.table--compact th,
.table--compact td {
  padding: 0.2em 0.4em;
}

.btn {
  display: inline-block;
  padding: 0.53333em 1.6em;
  border: 0;
  font-family: inherit;
  line-height: 1.6em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #555555;
  background: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn:focus {
  outline: none;
}

.btn[disabled] {
  cursor: not-allowed;
}

.btn--block {
  width: 100%;
}

/*! Baze Grid v2.0.2 | (c) 2014 @_bobbylie | https://github.com/ImBobby/Baze-Grid */
.bzg:after {
  display: table;
  clear: both;
  content: '';
}

.bzg {
  margin-left: -25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bzg--no-gutter {
  margin-left: 0;
}

.bzg--no-gutter > .bzg_c {
  padding-left: 0;
}

.bzg_c {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bzg_c[data-col*="s1"] {
  width: 8.33333%;
}

.bzg_c[data-offset*="s1"] {
  margin-left: 8.33333%;
}

.bzg_c[data-col*="s2"] {
  width: 16.66667%;
}

.bzg_c[data-offset*="s2"] {
  margin-left: 16.66667%;
}

.bzg_c[data-col*="s3"] {
  width: 25%;
}

.bzg_c[data-offset*="s3"] {
  margin-left: 25%;
}

.bzg_c[data-col*="s4"] {
  width: 33.33333%;
}

.bzg_c[data-offset*="s4"] {
  margin-left: 33.33333%;
}

.bzg_c[data-col*="s5"] {
  width: 41.66667%;
}

.bzg_c[data-offset*="s5"] {
  margin-left: 41.66667%;
}

.bzg_c[data-col*="s6"] {
  width: 50%;
}

.bzg_c[data-offset*="s6"] {
  margin-left: 50%;
}

.bzg_c[data-col*="s7"] {
  width: 58.33333%;
}

.bzg_c[data-offset*="s7"] {
  margin-left: 58.33333%;
}

.bzg_c[data-col*="s8"] {
  width: 66.66667%;
}

.bzg_c[data-offset*="s8"] {
  margin-left: 66.66667%;
}

.bzg_c[data-col*="s9"] {
  width: 75%;
}

.bzg_c[data-offset*="s9"] {
  margin-left: 75%;
}

.bzg_c[data-col*="s10"] {
  width: 83.33333%;
}

.bzg_c[data-offset*="s10"] {
  margin-left: 83.33333%;
}

.bzg_c[data-col*="s11"] {
  width: 91.66667%;
}

.bzg_c[data-offset*="s11"] {
  margin-left: 91.66667%;
}

.bzg_c[data-col*="s12"] {
  width: 100%;
}

.bzg_c[data-offset*="s12"] {
  margin-left: 100%;
}

@media screen and (min-width: 40em) {
  .bzg_c[data-col*="m"] {
    margin-left: 0;
  }
  .bzg_c[data-col*="m1"] {
    width: 8.33333%;
  }
  .bzg_c[data-offset*="m1"] {
    margin-left: 8.33333%;
  }
  .bzg_c[data-col*="m2"] {
    width: 16.66667%;
  }
  .bzg_c[data-offset*="m2"] {
    margin-left: 16.66667%;
  }
  .bzg_c[data-col*="m3"] {
    width: 25%;
  }
  .bzg_c[data-offset*="m3"] {
    margin-left: 25%;
  }
  .bzg_c[data-col*="m4"] {
    width: 33.33333%;
  }
  .bzg_c[data-offset*="m4"] {
    margin-left: 33.33333%;
  }
  .bzg_c[data-col*="m5"] {
    width: 41.66667%;
  }
  .bzg_c[data-offset*="m5"] {
    margin-left: 41.66667%;
  }
  .bzg_c[data-col*="m6"] {
    width: 50%;
  }
  .bzg_c[data-offset*="m6"] {
    margin-left: 50%;
  }
  .bzg_c[data-col*="m7"] {
    width: 58.33333%;
  }
  .bzg_c[data-offset*="m7"] {
    margin-left: 58.33333%;
  }
  .bzg_c[data-col*="m8"] {
    width: 66.66667%;
  }
  .bzg_c[data-offset*="m8"] {
    margin-left: 66.66667%;
  }
  .bzg_c[data-col*="m9"] {
    width: 75%;
  }
  .bzg_c[data-offset*="m9"] {
    margin-left: 75%;
  }
  .bzg_c[data-col*="m10"] {
    width: 83.33333%;
  }
  .bzg_c[data-offset*="m10"] {
    margin-left: 83.33333%;
  }
  .bzg_c[data-col*="m11"] {
    width: 91.66667%;
  }
  .bzg_c[data-offset*="m11"] {
    margin-left: 91.66667%;
  }
  .bzg_c[data-col*="m12"] {
    width: 100%;
  }
  .bzg_c[data-offset*="m12"] {
    margin-left: 100%;
  }
}

@media screen and (min-width: 64em) {
  .bzg_c[data-col*="l"] {
    margin-left: 0;
  }
  .bzg_c[data-col*="l1"] {
    width: 8.33333%;
  }
  .bzg_c[data-offset*="l1"] {
    margin-left: 8.33333%;
  }
  .bzg_c[data-col*="l2"] {
    width: 16.66667%;
  }
  .bzg_c[data-offset*="l2"] {
    margin-left: 16.66667%;
  }
  .bzg_c[data-col*="l3"] {
    width: 25%;
  }
  .bzg_c[data-offset*="l3"] {
    margin-left: 25%;
  }
  .bzg_c[data-col*="l4"] {
    width: 33.33333%;
  }
  .bzg_c[data-offset*="l4"] {
    margin-left: 33.33333%;
  }
  .bzg_c[data-col*="l5"] {
    width: 41.66667%;
  }
  .bzg_c[data-offset*="l5"] {
    margin-left: 41.66667%;
  }
  .bzg_c[data-col*="l6"] {
    width: 50%;
  }
  .bzg_c[data-offset*="l6"] {
    margin-left: 50%;
  }
  .bzg_c[data-col*="l7"] {
    width: 58.33333%;
  }
  .bzg_c[data-offset*="l7"] {
    margin-left: 58.33333%;
  }
  .bzg_c[data-col*="l8"] {
    width: 66.66667%;
  }
  .bzg_c[data-offset*="l8"] {
    margin-left: 66.66667%;
  }
  .bzg_c[data-col*="l9"] {
    width: 75%;
  }
  .bzg_c[data-offset*="l9"] {
    margin-left: 75%;
  }
  .bzg_c[data-col*="l10"] {
    width: 83.33333%;
  }
  .bzg_c[data-offset*="l10"] {
    margin-left: 83.33333%;
  }
  .bzg_c[data-col*="l11"] {
    width: 91.66667%;
  }
  .bzg_c[data-offset*="l11"] {
    margin-left: 91.66667%;
  }
  .bzg_c[data-col*="l12"] {
    width: 100%;
  }
  .bzg_c[data-offset*="l12"] {
    margin-left: 100%;
  }
}

legend {
  margin-bottom: 0.8em;
}

input[type="password"] {
  font: small-caption;
  font-size: 1em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form__row {
  margin-bottom: 0.8em;
}

.form-label {
  display: block;
  margin-top: 0.53333em;
}

.form-input {
  padding: 0.53333em;
  border: solid 1px #bbbbbb;
  font-family: inherit;
  background: #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-input:focus {
  border-color: #2669d3;
  outline: none;
}

.form-input[disabled] {
  cursor: not-allowed;
}

.form-input--error {
  border-color: #d32c31;
}

.form-input--error:focus {
  border-color: #d32c31;
}

.form-input--success {
  border-color: #4eb74a;
}

.form-input--success:focus {
  border-color: #4eb74a;
}

.form-input--block {
  width: 100%;
}

/*ul*/
.breadcrumb {
  padding: 0;
  list-style: none;
}

.breadcrumb:after {
  display: table;
  clear: both;
  content: '';
}

.breadcrumb > li {
  position: relative;
  float: left;
}

.breadcrumb > li:before {
  margin: 0 0.8em;
  color: #444;
  content: "→";
}

.breadcrumb > li:first-child:before {
  display: none;
}

/*ul|ol*/
.pagination {
  padding: 0;
  margin: 0 0 1.6em 0;
  list-style: none;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination li {
  display: inline-block;
}

.pagination a {
  display: block;
  padding: 0.4em 0.8em;
  border: solid 1px #ddd;
  color: #666;
  background: #eee;
}

.pagination a:hover, .pagination a:focus, .pagination a.active {
  border-color: #555;
  color: #f8f8f8;
  background: #888;
}

.pagination a.active {
  cursor: default;
}

.media:after {
  display: table;
  clear: both;
  content: '';
}

.media__figure {
  float: left;
  margin-right: 0.8em;
}

.media__body {
  overflow: hidden;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714286em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  -webkit-border-radius: .1em;
          border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #ffffff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}

.fa-music:before {
  content: "\f001";
}

.fa-search:before {
  content: "\f002";
}

.fa-envelope-o:before {
  content: "\f003";
}

.fa-heart:before {
  content: "\f004";
}

.fa-star:before {
  content: "\f005";
}

.fa-star-o:before {
  content: "\f006";
}

.fa-user:before {
  content: "\f007";
}

.fa-film:before {
  content: "\f008";
}

.fa-th-large:before {
  content: "\f009";
}

.fa-th:before {
  content: "\f00a";
}

.fa-th-list:before {
  content: "\f00b";
}

.fa-check:before {
  content: "\f00c";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}

.fa-search-plus:before {
  content: "\f00e";
}

.fa-search-minus:before {
  content: "\f010";
}

.fa-power-off:before {
  content: "\f011";
}

.fa-signal:before {
  content: "\f012";
}

.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}

.fa-trash-o:before {
  content: "\f014";
}

.fa-home:before {
  content: "\f015";
}

.fa-file-o:before {
  content: "\f016";
}

.fa-clock-o:before {
  content: "\f017";
}

.fa-road:before {
  content: "\f018";
}

.fa-download:before {
  content: "\f019";
}

.fa-arrow-circle-o-down:before {
  content: "\f01a";
}

.fa-arrow-circle-o-up:before {
  content: "\f01b";
}

.fa-inbox:before {
  content: "\f01c";
}

.fa-play-circle-o:before {
  content: "\f01d";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}

.fa-refresh:before {
  content: "\f021";
}

.fa-list-alt:before {
  content: "\f022";
}

.fa-lock:before {
  content: "\f023";
}

.fa-flag:before {
  content: "\f024";
}

.fa-headphones:before {
  content: "\f025";
}

.fa-volume-off:before {
  content: "\f026";
}

.fa-volume-down:before {
  content: "\f027";
}

.fa-volume-up:before {
  content: "\f028";
}

.fa-qrcode:before {
  content: "\f029";
}

.fa-barcode:before {
  content: "\f02a";
}

.fa-tag:before {
  content: "\f02b";
}

.fa-tags:before {
  content: "\f02c";
}

.fa-book:before {
  content: "\f02d";
}

.fa-bookmark:before {
  content: "\f02e";
}

.fa-print:before {
  content: "\f02f";
}

.fa-camera:before {
  content: "\f030";
}

.fa-font:before {
  content: "\f031";
}

.fa-bold:before {
  content: "\f032";
}

.fa-italic:before {
  content: "\f033";
}

.fa-text-height:before {
  content: "\f034";
}

.fa-text-width:before {
  content: "\f035";
}

.fa-align-left:before {
  content: "\f036";
}

.fa-align-center:before {
  content: "\f037";
}

.fa-align-right:before {
  content: "\f038";
}

.fa-align-justify:before {
  content: "\f039";
}

.fa-list:before {
  content: "\f03a";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}

.fa-indent:before {
  content: "\f03c";
}

.fa-video-camera:before {
  content: "\f03d";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}

.fa-pencil:before {
  content: "\f040";
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-adjust:before {
  content: "\f042";
}

.fa-tint:before {
  content: "\f043";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}

.fa-share-square-o:before {
  content: "\f045";
}

.fa-check-square-o:before {
  content: "\f046";
}

.fa-arrows:before {
  content: "\f047";
}

.fa-step-backward:before {
  content: "\f048";
}

.fa-fast-backward:before {
  content: "\f049";
}

.fa-backward:before {
  content: "\f04a";
}

.fa-play:before {
  content: "\f04b";
}

.fa-pause:before {
  content: "\f04c";
}

.fa-stop:before {
  content: "\f04d";
}

.fa-forward:before {
  content: "\f04e";
}

.fa-fast-forward:before {
  content: "\f050";
}

.fa-step-forward:before {
  content: "\f051";
}

.fa-eject:before {
  content: "\f052";
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-plus-circle:before {
  content: "\f055";
}

.fa-minus-circle:before {
  content: "\f056";
}

.fa-times-circle:before {
  content: "\f057";
}

.fa-check-circle:before {
  content: "\f058";
}

.fa-question-circle:before {
  content: "\f059";
}

.fa-info-circle:before {
  content: "\f05a";
}

.fa-crosshairs:before {
  content: "\f05b";
}

.fa-times-circle-o:before {
  content: "\f05c";
}

.fa-check-circle-o:before {
  content: "\f05d";
}

.fa-ban:before {
  content: "\f05e";
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-arrow-down:before {
  content: "\f063";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}

.fa-expand:before {
  content: "\f065";
}

.fa-compress:before {
  content: "\f066";
}

.fa-plus:before {
  content: "\f067";
}

.fa-minus:before {
  content: "\f068";
}

.fa-asterisk:before {
  content: "\f069";
}

.fa-exclamation-circle:before {
  content: "\f06a";
}

.fa-gift:before {
  content: "\f06b";
}

.fa-leaf:before {
  content: "\f06c";
}

.fa-fire:before {
  content: "\f06d";
}

.fa-eye:before {
  content: "\f06e";
}

.fa-eye-slash:before {
  content: "\f070";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}

.fa-plane:before {
  content: "\f072";
}

.fa-calendar:before {
  content: "\f073";
}

.fa-random:before {
  content: "\f074";
}

.fa-comment:before {
  content: "\f075";
}

.fa-magnet:before {
  content: "\f076";
}

.fa-chevron-up:before {
  content: "\f077";
}

.fa-chevron-down:before {
  content: "\f078";
}

.fa-retweet:before {
  content: "\f079";
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.fa-folder:before {
  content: "\f07b";
}

.fa-folder-open:before {
  content: "\f07c";
}

.fa-arrows-v:before {
  content: "\f07d";
}

.fa-arrows-h:before {
  content: "\f07e";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}

.fa-twitter-square:before {
  content: "\f081";
}

.fa-facebook-square:before {
  content: "\f082";
}

.fa-camera-retro:before {
  content: "\f083";
}

.fa-key:before {
  content: "\f084";
}

.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}

.fa-comments:before {
  content: "\f086";
}

.fa-thumbs-o-up:before {
  content: "\f087";
}

.fa-thumbs-o-down:before {
  content: "\f088";
}

.fa-star-half:before {
  content: "\f089";
}

.fa-heart-o:before {
  content: "\f08a";
}

.fa-sign-out:before {
  content: "\f08b";
}

.fa-linkedin-square:before {
  content: "\f08c";
}

.fa-thumb-tack:before {
  content: "\f08d";
}

.fa-external-link:before {
  content: "\f08e";
}

.fa-sign-in:before {
  content: "\f090";
}

.fa-trophy:before {
  content: "\f091";
}

.fa-github-square:before {
  content: "\f092";
}

.fa-upload:before {
  content: "\f093";
}

.fa-lemon-o:before {
  content: "\f094";
}

.fa-phone:before {
  content: "\f095";
}

.fa-square-o:before {
  content: "\f096";
}

.fa-bookmark-o:before {
  content: "\f097";
}

.fa-phone-square:before {
  content: "\f098";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}

.fa-github:before {
  content: "\f09b";
}

.fa-unlock:before {
  content: "\f09c";
}

.fa-credit-card:before {
  content: "\f09d";
}

.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}

.fa-hdd-o:before {
  content: "\f0a0";
}

.fa-bullhorn:before {
  content: "\f0a1";
}

.fa-bell:before {
  content: "\f0f3";
}

.fa-certificate:before {
  content: "\f0a3";
}

.fa-hand-o-right:before {
  content: "\f0a4";
}

.fa-hand-o-left:before {
  content: "\f0a5";
}

.fa-hand-o-up:before {
  content: "\f0a6";
}

.fa-hand-o-down:before {
  content: "\f0a7";
}

.fa-arrow-circle-left:before {
  content: "\f0a8";
}

.fa-arrow-circle-right:before {
  content: "\f0a9";
}

.fa-arrow-circle-up:before {
  content: "\f0aa";
}

.fa-arrow-circle-down:before {
  content: "\f0ab";
}

.fa-globe:before {
  content: "\f0ac";
}

.fa-wrench:before {
  content: "\f0ad";
}

.fa-tasks:before {
  content: "\f0ae";
}

.fa-filter:before {
  content: "\f0b0";
}

.fa-briefcase:before {
  content: "\f0b1";
}

.fa-arrows-alt:before {
  content: "\f0b2";
}

.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}

.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}

.fa-cloud:before {
  content: "\f0c2";
}

.fa-flask:before {
  content: "\f0c3";
}

.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}

.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}

.fa-paperclip:before {
  content: "\f0c6";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}

.fa-square:before {
  content: "\f0c8";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}

.fa-list-ul:before {
  content: "\f0ca";
}

.fa-list-ol:before {
  content: "\f0cb";
}

.fa-strikethrough:before {
  content: "\f0cc";
}

.fa-underline:before {
  content: "\f0cd";
}

.fa-table:before {
  content: "\f0ce";
}

.fa-magic:before {
  content: "\f0d0";
}

.fa-truck:before {
  content: "\f0d1";
}

.fa-pinterest:before {
  content: "\f0d2";
}

.fa-pinterest-square:before {
  content: "\f0d3";
}

.fa-google-plus-square:before {
  content: "\f0d4";
}

.fa-google-plus:before {
  content: "\f0d5";
}

.fa-money:before {
  content: "\f0d6";
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-up:before {
  content: "\f0d8";
}

.fa-caret-left:before {
  content: "\f0d9";
}

.fa-caret-right:before {
  content: "\f0da";
}

.fa-columns:before {
  content: "\f0db";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}

.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}

.fa-comment-o:before {
  content: "\f0e5";
}

.fa-comments-o:before {
  content: "\f0e6";
}

.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}

.fa-sitemap:before {
  content: "\f0e8";
}

.fa-umbrella:before {
  content: "\f0e9";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}

.fa-lightbulb-o:before {
  content: "\f0eb";
}

.fa-exchange:before {
  content: "\f0ec";
}

.fa-cloud-download:before {
  content: "\f0ed";
}

.fa-cloud-upload:before {
  content: "\f0ee";
}

.fa-user-md:before {
  content: "\f0f0";
}

.fa-stethoscope:before {
  content: "\f0f1";
}

.fa-suitcase:before {
  content: "\f0f2";
}

.fa-bell-o:before {
  content: "\f0a2";
}

.fa-coffee:before {
  content: "\f0f4";
}

.fa-cutlery:before {
  content: "\f0f5";
}

.fa-file-text-o:before {
  content: "\f0f6";
}

.fa-building-o:before {
  content: "\f0f7";
}

.fa-hospital-o:before {
  content: "\f0f8";
}

.fa-ambulance:before {
  content: "\f0f9";
}

.fa-medkit:before {
  content: "\f0fa";
}

.fa-fighter-jet:before {
  content: "\f0fb";
}

.fa-beer:before {
  content: "\f0fc";
}

.fa-h-square:before {
  content: "\f0fd";
}

.fa-plus-square:before {
  content: "\f0fe";
}

.fa-angle-double-left:before {
  content: "\f100";
}

.fa-angle-double-right:before {
  content: "\f101";
}

.fa-angle-double-up:before {
  content: "\f102";
}

.fa-angle-double-down:before {
  content: "\f103";
}

.fa-angle-left:before {
  content: "\f104";
}

.fa-angle-right:before {
  content: "\f105";
}

.fa-angle-up:before {
  content: "\f106";
}

.fa-angle-down:before {
  content: "\f107";
}

.fa-desktop:before {
  content: "\f108";
}

.fa-laptop:before {
  content: "\f109";
}

.fa-tablet:before {
  content: "\f10a";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}

.fa-circle-o:before {
  content: "\f10c";
}

.fa-quote-left:before {
  content: "\f10d";
}

.fa-quote-right:before {
  content: "\f10e";
}

.fa-spinner:before {
  content: "\f110";
}

.fa-circle:before {
  content: "\f111";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}

.fa-github-alt:before {
  content: "\f113";
}

.fa-folder-o:before {
  content: "\f114";
}

.fa-folder-open-o:before {
  content: "\f115";
}

.fa-smile-o:before {
  content: "\f118";
}

.fa-frown-o:before {
  content: "\f119";
}

.fa-meh-o:before {
  content: "\f11a";
}

.fa-gamepad:before {
  content: "\f11b";
}

.fa-keyboard-o:before {
  content: "\f11c";
}

.fa-flag-o:before {
  content: "\f11d";
}

.fa-flag-checkered:before {
  content: "\f11e";
}

.fa-terminal:before {
  content: "\f120";
}

.fa-code:before {
  content: "\f121";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}

.fa-location-arrow:before {
  content: "\f124";
}

.fa-crop:before {
  content: "\f125";
}

.fa-code-fork:before {
  content: "\f126";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}

.fa-question:before {
  content: "\f128";
}

.fa-info:before {
  content: "\f129";
}

.fa-exclamation:before {
  content: "\f12a";
}

.fa-superscript:before {
  content: "\f12b";
}

.fa-subscript:before {
  content: "\f12c";
}

.fa-eraser:before {
  content: "\f12d";
}

.fa-puzzle-piece:before {
  content: "\f12e";
}

.fa-microphone:before {
  content: "\f130";
}

.fa-microphone-slash:before {
  content: "\f131";
}

.fa-shield:before {
  content: "\f132";
}

.fa-calendar-o:before {
  content: "\f133";
}

.fa-fire-extinguisher:before {
  content: "\f134";
}

.fa-rocket:before {
  content: "\f135";
}

.fa-maxcdn:before {
  content: "\f136";
}

.fa-chevron-circle-left:before {
  content: "\f137";
}

.fa-chevron-circle-right:before {
  content: "\f138";
}

.fa-chevron-circle-up:before {
  content: "\f139";
}

.fa-chevron-circle-down:before {
  content: "\f13a";
}

.fa-html5:before {
  content: "\f13b";
}

.fa-css3:before {
  content: "\f13c";
}

.fa-anchor:before {
  content: "\f13d";
}

.fa-unlock-alt:before {
  content: "\f13e";
}

.fa-bullseye:before {
  content: "\f140";
}

.fa-ellipsis-h:before {
  content: "\f141";
}

.fa-ellipsis-v:before {
  content: "\f142";
}

.fa-rss-square:before {
  content: "\f143";
}

.fa-play-circle:before {
  content: "\f144";
}

.fa-ticket:before {
  content: "\f145";
}

.fa-minus-square:before {
  content: "\f146";
}

.fa-minus-square-o:before {
  content: "\f147";
}

.fa-level-up:before {
  content: "\f148";
}

.fa-level-down:before {
  content: "\f149";
}

.fa-check-square:before {
  content: "\f14a";
}

.fa-pencil-square:before {
  content: "\f14b";
}

.fa-external-link-square:before {
  content: "\f14c";
}

.fa-share-square:before {
  content: "\f14d";
}

.fa-compass:before {
  content: "\f14e";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}

.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}

.fa-gbp:before {
  content: "\f154";
}

.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}

.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}

.fa-won:before,
.fa-krw:before {
  content: "\f159";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}

.fa-file:before {
  content: "\f15b";
}

.fa-file-text:before {
  content: "\f15c";
}

.fa-sort-alpha-asc:before {
  content: "\f15d";
}

.fa-sort-alpha-desc:before {
  content: "\f15e";
}

.fa-sort-amount-asc:before {
  content: "\f160";
}

.fa-sort-amount-desc:before {
  content: "\f161";
}

.fa-sort-numeric-asc:before {
  content: "\f162";
}

.fa-sort-numeric-desc:before {
  content: "\f163";
}

.fa-thumbs-up:before {
  content: "\f164";
}

.fa-thumbs-down:before {
  content: "\f165";
}

.fa-youtube-square:before {
  content: "\f166";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-xing:before {
  content: "\f168";
}

.fa-xing-square:before {
  content: "\f169";
}

.fa-youtube-play:before {
  content: "\f16a";
}

.fa-dropbox:before {
  content: "\f16b";
}

.fa-stack-overflow:before {
  content: "\f16c";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-flickr:before {
  content: "\f16e";
}

.fa-adn:before {
  content: "\f170";
}

.fa-bitbucket:before {
  content: "\f171";
}

.fa-bitbucket-square:before {
  content: "\f172";
}

.fa-tumblr:before {
  content: "\f173";
}

.fa-tumblr-square:before {
  content: "\f174";
}

.fa-long-arrow-down:before {
  content: "\f175";
}

.fa-long-arrow-up:before {
  content: "\f176";
}

.fa-long-arrow-left:before {
  content: "\f177";
}

.fa-long-arrow-right:before {
  content: "\f178";
}

.fa-apple:before {
  content: "\f179";
}

.fa-windows:before {
  content: "\f17a";
}

.fa-android:before {
  content: "\f17b";
}

.fa-linux:before {
  content: "\f17c";
}

.fa-dribbble:before {
  content: "\f17d";
}

.fa-skype:before {
  content: "\f17e";
}

.fa-foursquare:before {
  content: "\f180";
}

.fa-trello:before {
  content: "\f181";
}

.fa-female:before {
  content: "\f182";
}

.fa-male:before {
  content: "\f183";
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}

.fa-sun-o:before {
  content: "\f185";
}

.fa-moon-o:before {
  content: "\f186";
}

.fa-archive:before {
  content: "\f187";
}

.fa-bug:before {
  content: "\f188";
}

.fa-vk:before {
  content: "\f189";
}

.fa-weibo:before {
  content: "\f18a";
}

.fa-renren:before {
  content: "\f18b";
}

.fa-pagelines:before {
  content: "\f18c";
}

.fa-stack-exchange:before {
  content: "\f18d";
}

.fa-arrow-circle-o-right:before {
  content: "\f18e";
}

.fa-arrow-circle-o-left:before {
  content: "\f190";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}

.fa-dot-circle-o:before {
  content: "\f192";
}

.fa-wheelchair:before {
  content: "\f193";
}

.fa-vimeo-square:before {
  content: "\f194";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}

.fa-plus-square-o:before {
  content: "\f196";
}

.fa-space-shuttle:before {
  content: "\f197";
}

.fa-slack:before {
  content: "\f198";
}

.fa-envelope-square:before {
  content: "\f199";
}

.fa-wordpress:before {
  content: "\f19a";
}

.fa-openid:before {
  content: "\f19b";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}

.fa-yahoo:before {
  content: "\f19e";
}

.fa-google:before {
  content: "\f1a0";
}

.fa-reddit:before {
  content: "\f1a1";
}

.fa-reddit-square:before {
  content: "\f1a2";
}

.fa-stumbleupon-circle:before {
  content: "\f1a3";
}

.fa-stumbleupon:before {
  content: "\f1a4";
}

.fa-delicious:before {
  content: "\f1a5";
}

.fa-digg:before {
  content: "\f1a6";
}

.fa-pied-piper:before {
  content: "\f1a7";
}

.fa-pied-piper-alt:before {
  content: "\f1a8";
}

.fa-drupal:before {
  content: "\f1a9";
}

.fa-joomla:before {
  content: "\f1aa";
}

.fa-language:before {
  content: "\f1ab";
}

.fa-fax:before {
  content: "\f1ac";
}

.fa-building:before {
  content: "\f1ad";
}

.fa-child:before {
  content: "\f1ae";
}

.fa-paw:before {
  content: "\f1b0";
}

.fa-spoon:before {
  content: "\f1b1";
}

.fa-cube:before {
  content: "\f1b2";
}

.fa-cubes:before {
  content: "\f1b3";
}

.fa-behance:before {
  content: "\f1b4";
}

.fa-behance-square:before {
  content: "\f1b5";
}

.fa-steam:before {
  content: "\f1b6";
}

.fa-steam-square:before {
  content: "\f1b7";
}

.fa-recycle:before {
  content: "\f1b8";
}

.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}

.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}

.fa-tree:before {
  content: "\f1bb";
}

.fa-spotify:before {
  content: "\f1bc";
}

.fa-deviantart:before {
  content: "\f1bd";
}

.fa-soundcloud:before {
  content: "\f1be";
}

.fa-database:before {
  content: "\f1c0";
}

.fa-file-pdf-o:before {
  content: "\f1c1";
}

.fa-file-word-o:before {
  content: "\f1c2";
}

.fa-file-excel-o:before {
  content: "\f1c3";
}

.fa-file-powerpoint-o:before {
  content: "\f1c4";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}

.fa-file-code-o:before {
  content: "\f1c9";
}

.fa-vine:before {
  content: "\f1ca";
}

.fa-codepen:before {
  content: "\f1cb";
}

.fa-jsfiddle:before {
  content: "\f1cc";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}

.fa-circle-o-notch:before {
  content: "\f1ce";
}

.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}

.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}

.fa-git-square:before {
  content: "\f1d2";
}

.fa-git:before {
  content: "\f1d3";
}

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}

.fa-tencent-weibo:before {
  content: "\f1d5";
}

.fa-qq:before {
  content: "\f1d6";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}

.fa-history:before {
  content: "\f1da";
}

.fa-circle-thin:before {
  content: "\f1db";
}

.fa-header:before {
  content: "\f1dc";
}

.fa-paragraph:before {
  content: "\f1dd";
}

.fa-sliders:before {
  content: "\f1de";
}

.fa-share-alt:before {
  content: "\f1e0";
}

.fa-share-alt-square:before {
  content: "\f1e1";
}

.fa-bomb:before {
  content: "\f1e2";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}

.fa-tty:before {
  content: "\f1e4";
}

.fa-binoculars:before {
  content: "\f1e5";
}

.fa-plug:before {
  content: "\f1e6";
}

.fa-slideshare:before {
  content: "\f1e7";
}

.fa-twitch:before {
  content: "\f1e8";
}

.fa-yelp:before {
  content: "\f1e9";
}

.fa-newspaper-o:before {
  content: "\f1ea";
}

.fa-wifi:before {
  content: "\f1eb";
}

.fa-calculator:before {
  content: "\f1ec";
}

.fa-paypal:before {
  content: "\f1ed";
}

.fa-google-wallet:before {
  content: "\f1ee";
}

.fa-cc-visa:before {
  content: "\f1f0";
}

.fa-cc-mastercard:before {
  content: "\f1f1";
}

.fa-cc-discover:before {
  content: "\f1f2";
}

.fa-cc-amex:before {
  content: "\f1f3";
}

.fa-cc-paypal:before {
  content: "\f1f4";
}

.fa-cc-stripe:before {
  content: "\f1f5";
}

.fa-bell-slash:before {
  content: "\f1f6";
}

.fa-bell-slash-o:before {
  content: "\f1f7";
}

.fa-trash:before {
  content: "\f1f8";
}

.fa-copyright:before {
  content: "\f1f9";
}

.fa-at:before {
  content: "\f1fa";
}

.fa-eyedropper:before {
  content: "\f1fb";
}

.fa-paint-brush:before {
  content: "\f1fc";
}

.fa-birthday-cake:before {
  content: "\f1fd";
}

.fa-area-chart:before {
  content: "\f1fe";
}

.fa-pie-chart:before {
  content: "\f200";
}

.fa-line-chart:before {
  content: "\f201";
}

.fa-lastfm:before {
  content: "\f202";
}

.fa-lastfm-square:before {
  content: "\f203";
}

.fa-toggle-off:before {
  content: "\f204";
}

.fa-toggle-on:before {
  content: "\f205";
}

.fa-bicycle:before {
  content: "\f206";
}

.fa-bus:before {
  content: "\f207";
}

.fa-ioxhost:before {
  content: "\f208";
}

.fa-angellist:before {
  content: "\f209";
}

.fa-cc:before {
  content: "\f20a";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}

.fa-meanpath:before {
  content: "\f20c";
}

.fa-buysellads:before {
  content: "\f20d";
}

.fa-connectdevelop:before {
  content: "\f20e";
}

.fa-dashcube:before {
  content: "\f210";
}

.fa-forumbee:before {
  content: "\f211";
}

.fa-leanpub:before {
  content: "\f212";
}

.fa-sellsy:before {
  content: "\f213";
}

.fa-shirtsinbulk:before {
  content: "\f214";
}

.fa-simplybuilt:before {
  content: "\f215";
}

.fa-skyatlas:before {
  content: "\f216";
}

.fa-cart-plus:before {
  content: "\f217";
}

.fa-cart-arrow-down:before {
  content: "\f218";
}

.fa-diamond:before {
  content: "\f219";
}

.fa-ship:before {
  content: "\f21a";
}

.fa-user-secret:before {
  content: "\f21b";
}

.fa-motorcycle:before {
  content: "\f21c";
}

.fa-street-view:before {
  content: "\f21d";
}

.fa-heartbeat:before {
  content: "\f21e";
}

.fa-venus:before {
  content: "\f221";
}

.fa-mars:before {
  content: "\f222";
}

.fa-mercury:before {
  content: "\f223";
}

.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}

.fa-transgender-alt:before {
  content: "\f225";
}

.fa-venus-double:before {
  content: "\f226";
}

.fa-mars-double:before {
  content: "\f227";
}

.fa-venus-mars:before {
  content: "\f228";
}

.fa-mars-stroke:before {
  content: "\f229";
}

.fa-mars-stroke-v:before {
  content: "\f22a";
}

.fa-mars-stroke-h:before {
  content: "\f22b";
}

.fa-neuter:before {
  content: "\f22c";
}

.fa-genderless:before {
  content: "\f22d";
}

.fa-facebook-official:before {
  content: "\f230";
}

.fa-pinterest-p:before {
  content: "\f231";
}

.fa-whatsapp:before {
  content: "\f232";
}

.fa-server:before {
  content: "\f233";
}

.fa-user-plus:before {
  content: "\f234";
}

.fa-user-times:before {
  content: "\f235";
}

.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}

.fa-viacoin:before {
  content: "\f237";
}

.fa-train:before {
  content: "\f238";
}

.fa-subway:before {
  content: "\f239";
}

.fa-medium:before {
  content: "\f23a";
}

.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}

.fa-optin-monster:before {
  content: "\f23c";
}

.fa-opencart:before {
  content: "\f23d";
}

.fa-expeditedssl:before {
  content: "\f23e";
}

.fa-battery-4:before,
.fa-battery-full:before {
  content: "\f240";
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}

.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}

.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}

.fa-mouse-pointer:before {
  content: "\f245";
}

.fa-i-cursor:before {
  content: "\f246";
}

.fa-object-group:before {
  content: "\f247";
}

.fa-object-ungroup:before {
  content: "\f248";
}

.fa-sticky-note:before {
  content: "\f249";
}

.fa-sticky-note-o:before {
  content: "\f24a";
}

.fa-cc-jcb:before {
  content: "\f24b";
}

.fa-cc-diners-club:before {
  content: "\f24c";
}

.fa-clone:before {
  content: "\f24d";
}

.fa-balance-scale:before {
  content: "\f24e";
}

.fa-hourglass-o:before {
  content: "\f250";
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}

.fa-hourglass:before {
  content: "\f254";
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}

.fa-hand-scissors-o:before {
  content: "\f257";
}

.fa-hand-lizard-o:before {
  content: "\f258";
}

.fa-hand-spock-o:before {
  content: "\f259";
}

.fa-hand-pointer-o:before {
  content: "\f25a";
}

.fa-hand-peace-o:before {
  content: "\f25b";
}

.fa-trademark:before {
  content: "\f25c";
}

.fa-registered:before {
  content: "\f25d";
}

.fa-creative-commons:before {
  content: "\f25e";
}

.fa-gg:before {
  content: "\f260";
}

.fa-gg-circle:before {
  content: "\f261";
}

.fa-tripadvisor:before {
  content: "\f262";
}

.fa-odnoklassniki:before {
  content: "\f263";
}

.fa-odnoklassniki-square:before {
  content: "\f264";
}

.fa-get-pocket:before {
  content: "\f265";
}

.fa-wikipedia-w:before {
  content: "\f266";
}

.fa-safari:before {
  content: "\f267";
}

.fa-chrome:before {
  content: "\f268";
}

.fa-firefox:before {
  content: "\f269";
}

.fa-opera:before {
  content: "\f26a";
}

.fa-internet-explorer:before {
  content: "\f26b";
}

.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}

.fa-contao:before {
  content: "\f26d";
}

.fa-500px:before {
  content: "\f26e";
}

.fa-amazon:before {
  content: "\f270";
}

.fa-calendar-plus-o:before {
  content: "\f271";
}

.fa-calendar-minus-o:before {
  content: "\f272";
}

.fa-calendar-times-o:before {
  content: "\f273";
}

.fa-calendar-check-o:before {
  content: "\f274";
}

.fa-industry:before {
  content: "\f275";
}

.fa-map-pin:before {
  content: "\f276";
}

.fa-map-signs:before {
  content: "\f277";
}

.fa-map-o:before {
  content: "\f278";
}

.fa-map:before {
  content: "\f279";
}

.fa-commenting:before {
  content: "\f27a";
}

.fa-commenting-o:before {
  content: "\f27b";
}

.fa-houzz:before {
  content: "\f27c";
}

.fa-vimeo:before {
  content: "\f27d";
}

.fa-black-tie:before {
  content: "\f27e";
}

.fa-fonticons:before {
  content: "\f280";
}

.fa-reddit-alien:before {
  content: "\f281";
}

.fa-edge:before {
  content: "\f282";
}

.fa-credit-card-alt:before {
  content: "\f283";
}

.fa-codiepie:before {
  content: "\f284";
}

.fa-modx:before {
  content: "\f285";
}

.fa-fort-awesome:before {
  content: "\f286";
}

.fa-usb:before {
  content: "\f287";
}

.fa-product-hunt:before {
  content: "\f288";
}

.fa-mixcloud:before {
  content: "\f289";
}

.fa-scribd:before {
  content: "\f28a";
}

.fa-pause-circle:before {
  content: "\f28b";
}

.fa-pause-circle-o:before {
  content: "\f28c";
}

.fa-stop-circle:before {
  content: "\f28d";
}

.fa-stop-circle-o:before {
  content: "\f28e";
}

.fa-shopping-bag:before {
  content: "\f290";
}

.fa-shopping-basket:before {
  content: "\f291";
}

.fa-hashtag:before {
  content: "\f292";
}

.fa-bluetooth:before {
  content: "\f293";
}

.fa-bluetooth-b:before {
  content: "\f294";
}

.fa-percent:before {
  content: "\f295";
}

html {
  font: 400 16px sans-serif;
  line-height: 1.6em;
}

body {
  color: #3c3c3c;
}

a {
  color: #0094ed;
  text-decoration: none;
}

a:hover, a:focus {
  color: #0074ba;
}

.block {
  margin-bottom: 1.6em;
}

.container {
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
}

.img-slider {
  width: 100%;
}

@media screen and (min-width: 60em) {
  .img-slider {
    min-height: 100vh;
  }
}

.content-bg {
  width: 100%;
  background: #fff;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 2;
}

.headroom--top {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.headroom--top .logo-header {
  display: inline-block;
  background-image: url(../img/logo-sprites.png);
  height: 40px;
  width: 220px;
  margin-top: 10px;
  background-position: 0 0px;
}

.headroom--top .nav-bar {
  display: none;
  float: right;
  width: 100%;
  padding: 0;
  background: #fff;
  text-align: right;
  list-style: none;
}

.headroom--top .nav-bar li {
  border-bottom: 1px solid #cccccc;
  padding: 5px 10px 5px 20px;
}

.headroom--top .nav-bar a {
  color: #222;
}

.headroom--top .dropdown-menu {
  display: block;
  float: right;
  border: 2px solid transparent;
  padding: 5px;
  margin-top: 10px;
  background: transparent;
  font-size: 25px;
  color: #222;
}

@media screen and (min-width: 60em) {
  .headroom--top .dropdown-menu {
    display: none;
  }
}

@media screen and (min-width: 60em) {
  .headroom--top .nav-bar {
    display: block;
    float: right;
    width: auto;
    text-align: center;
    list-style: none;
    background: transparent;
  }
  .headroom--top .nav-bar li {
    position: relative;
    display: inline-block;
    width: 95px;
    text-align: center;
    padding: 1.6em 0 0;
    border-bottom: 1px solid transparent;
  }
  .headroom--top .nav-bar a {
    color: #fff;
  }
  .headroom--top .nav-bar a:hover {
    color: #2285ac;
  }
}

.headroom--not-top {
  border-bottom: 2px solid #cccccc;
  background: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.headroom--not-top .logo-header {
  display: inline-block;
  background-image: url(../img/logo-sprites.png);
  height: 40px;
  width: 220px;
  margin-top: 10px;
  background-position: 0 -40px;
}

.headroom--not-top .nav-bar {
  display: none;
  float: right;
  width: 100%;
  padding: 0;
  background: #fff;
  text-align: right;
  list-style: none;
}

.headroom--not-top .nav-bar li {
  border-bottom: 1px solid #cccccc;
  padding: 5px 10px 5px 20px;
}

.headroom--not-top .nav-bar a {
  color: #222;
}

.headroom--not-top .dropdown-menu {
  display: block;
  float: right;
  border: 2px solid transparent;
  padding: 5px;
  margin-top: 10px;
  background: transparent;
  font-size: 25px;
  color: #222;
}

@media screen and (min-width: 60em) {
  .headroom--not-top .dropdown-menu {
    display: none;
  }
}

@media screen and (min-width: 60em) {
  .headroom--not-top .nav-bar {
    display: block;
    float: right;
    width: auto;
    text-align: center;
    list-style: none;
  }
  .headroom--not-top .nav-bar li {
    position: relative;
    display: inline-block;
    width: 95px;
    text-align: center;
    padding: 1.6em 0 0;
    border-bottom: 1px solid transparent;
  }
  .headroom--not-top .nav-bar a {
    color: #222;
  }
  .headroom--not-top .nav-bar a:hover {
    color: #2285ac;
  }
  .headroom--not-top .nav-bar li:after {
    position: absolute;
    bottom: -50%;
    left: 0;
    content: '';
    width: 95px;
    height: 3px;
    background-color: #2285ac;
    content: '';
    display: none;
  }
  .headroom--not-top .nav-bar .current a {
    color: #2285ac;
  }
  .headroom--not-top .nav-bar .current:after {
    content: '';
    display: block;
  }
}

.text-wrapper-home {
  position: relative;
  background: #cccccc;
  padding: 10px;
}

@media screen and (min-width: 60em) {
  .text-wrapper-home {
    position: absolute;
    bottom: 0;
    -webkit-transform: translate(35%, -100%);
        -ms-transform: translate(35%, -100%);
            transform: translate(35%, -100%);
    color: #fff;
    background: none;
    width: 520px;
  }
}

.top-tagline {
  display: block;
  margin-bottom: 15px;
  color: #FFF838;
}

.top-tagline span {
  color: #fff;
}

@media screen and (min-width: 60em) {
  .bot-tagline {
    display: block;
    color: #fff;
    margin-bottom: 1.6em;
  }
}

.slider-anchor {
  border: 2px solid #555555;
  padding: 10px;
}

@media screen and (min-width: 60em) {
  .slider-anchor {
    border: 2px solid #cccccc;
    color: #fff;
  }
  .slider-anchor:hover {
    background: #FFF838;
    color: #222;
  }
}

.main-slider .slick-dots {
  width: 100%;
  margin: 0,auto;
  padding: 0;
  text-align: center;
  list-style: none;
}

.main-slider .slick-dots li {
  margin: 0 10px;
  display: inline-block;
}

.main-slider .slick-dots button {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #FFF838;
  background: transparent;
  font-size: 0;
}

.main-slider .slick-dots button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFF838;
  display: none;
}

@media screen and (min-width: 60em) {
  .main-slider .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0, 1.6em, 0;
    padding: 0;
    text-align: center;
    list-style: none;
    -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  .main-slider .slick-dots li {
    margin: 10px;
    display: inline-block;
  }
}

.main-slider .slick-active button:before {
  display: block;
}

.main-slider .slick-arrow {
  position: absolute;
  display: none;
  opacity: 0;
}

.bg-image {
  width: 100%;
  background-image: url(../img/section2.png);
  background-repeat: no-repeat;
  background-position: top left;
}

@media screen and (min-width: 60em) {
  .bg-image {
    position: relative;
    min-height: 100vh;
    background-position: bottom right;
    background-size: cover;
  }
}

.text-wrapper-about-us {
  position: relative;
  width: 95%;
}

.text-wrapper-about-us h1 {
  position: relative;
}

.text-wrapper-about-us h1:before {
  position: absolute;
  bottom: 0;
  content: '';
  width: 60px;
  height: 3px;
  background: #3c3c3c;
}

@media screen and (min-width: 60em) {
  .text-wrapper-about-us {
    position: absolute;
    max-width: 500px;
    bottom: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.text-wrapper-what-we-do {
  margin-bottom: 1.6em;
  padding-top: 50px;
  text-align: center;
}

.text-wrapper-what-we-do h1 {
  position: relative;
}

.text-wrapper-what-we-do h1:before {
  position: absolute;
  width: 60px;
  height: 3px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  content: '';
  background: #3c3c3c;
}

.text-wrapper-what-we-do li {
  list-style: none;
}

@media screen and (min-width: 60em) {
  .text-wrapper-what-we-do {
    width: 100%;
    text-align: center;
  }
}

.icon {
  background-image: url(../img/icon-sprites.png);
  height: 85px;
  width: 145px;
  display: inline-block;
  margin: 1.6em auto;
}

.icon1 {
  background-position: 0 0px;
}

.icon2 {
  background-position: 0 -85px;
}

.icon3 {
  background-position: 0 -170px;
}

.icon4 {
  background-position: 0 -340px;
}

.text-wrapper-our-works {
  margin-bottom: 1.6em;
  padding-top: 50px;
  text-align: center;
}

.text-wrapper-our-works h1 {
  position: relative;
}

.text-wrapper-our-works h1:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  content: '';
  width: 60px;
  height: 3px;
  background: #3c3c3c;
}

@media screen and (min-width: 60em) {
  .text-wrapper-our-works {
    width: 100%;
    text-align: center;
  }
}

.bzg--margin {
  margin-bottom: 15px;
}

.products-slider {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.products-slider .slick-dots {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
}

.products-slider .slick-dots li {
  margin: 10px 5px;
  display: inline-block;
}

.products-slider .slick-dots button {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid transparent;
  background: #898989;
  content: '';
  font-size: 0;
}

@media screen and (min-width: 60em) {
  .products-slider .slick-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    list-style: none;
  }
  .products-slider .slick-dots li {
    margin: 10px 5px;
    display: inline-block;
  }
  .products-slider .slick-dots button {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 1px solid transparent;
    background: #898989;
    content: '';
    font-size: 0;
  }
}

.products-slider .slick-active button {
  border: 1px solid #1aa9e6;
  background: #1aa9e6;
}

.products-slider .slick-arrow {
  position: absolute;
  display: none;
  opacity: 0;
}

.text-wrapper-our-team {
  margin-bottom: 1.6em;
  padding-top: 50px;
  text-align: center;
}

.text-wrapper-our-team h1 {
  position: relative;
}

.text-wrapper-our-team h1:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  content: '';
  width: 60px;
  height: 3px;
  background: #3c3c3c;
}

@media screen and (min-width: 60em) {
  .text-wrapper-our-team {
    width: 100%;
    text-align: center;
  }
}

.team-slider {
  width: 95%;
  max-width: 960px;
  top: 30%;
  margin: 0 auto;
}

.team-slider .profile-bio {
  display: none;
}

.team-slider img {
  opacity: 0.4;
}

.team-slider .slick-active .profile-bio {
  display: block;
}

.team-slider .slick-active img {
  opacity: 1;
}

.team-slider .slick-prev {
  position: absolute;
  float: left;
  padding: 0;
  border: 0;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
}

.team-slider .slick-next {
  position: absolute;
  float: right;
  padding: 0;
  border: 0;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
}

.profile--name {
  color: #1aa9e6;
}

.text-wrapper-articles {
  margin-bottom: 1.6em;
  padding-top: 50px;
  text-align: center;
}

.text-wrapper-articles h1 {
  position: relative;
}

.text-wrapper-articles h1:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  content: '';
  width: 60px;
  height: 3px;
  background: #3c3c3c;
}

@media screen and (min-width: 60em) {
  .text-wrapper-articles {
    width: 100%;
  }
}

.article-section {
  position: relative;
}

.article-content {
  text-align: center;
}

@media screen and (min-width: 60em) {
  .article-content {
    text-align: left;
  }
}

.article-link {
  color: #222;
}

.article-description {
  height: 6.4em;
  overflow: hidden;
  margin-bottom: 1.6em;
}

.article-date {
  bottom: 0;
  float: right;
  margin-bottom: 1.6em;
}

.bzg--center {
  padding-bottom: 1.6em;
}

.btn--article {
  display: block;
  margin: 1.6em auto;
}

@media screen and (min-width: 60em) {
  .btn--article {
    margin: 1.6em auto;
    border: 2px solid #cccccc;
    background: transparent;
  }
  .btn--article a {
    color: #3c3c3c;
  }
  .btn--article:hover {
    background: #cccccc;
  }
}

footer {
  width: 100%;
  background: #606060;
}

.text-wrapper-footer {
  padding: 50px 0 20px;
  text-align: center;
  color: #fff;
}

.social-media {
  margin-bottom: 3.2em;
}

.social-media li {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
}

.contact-form {
  max-width: 600px;
  margin: 1.6em auto;
}

.contact-form .form-input {
  width: 100%;
  background: transparent;
  color: #fff;
}

.contact-form .form-input:focus {
  border-color: #fff;
}

.contact-form .btn {
  float: right;
}

.contact-form .btn:hover {
  background: #fff;
}

.icon--pos {
  position: absolute;
  -webkit-transform: translate(-50%, 70%);
      -ms-transform: translate(-50%, 70%);
          transform: translate(-50%, 70%);
  color: #222;
}

.footer-tab {
  margin: 0 auto;
  padding: 0;
}

.footer-tab a {
  color: #fff;
}

.footer-tab a:hover {
  color: #21ABFF;
}

input::-webkit-input-placeholder {
  color: #FFFFFF;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #FFFFFF;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFFFFF;
}

input:-ms-input-placeholder {
  color: #FFFFFF;
}

textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #FFFFFF;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFFFFF;
}

textarea:-ms-input-placeholder {
  color: #FFFFFF;
}
